/todo

demos/*/_build/
demos/*/cover/
demos/*/deps/
demos/*/doc/
demos/*/.fetch
demos/*/erl_crash.dump
demos/*/*.ez
demos/*/tmp/
demos/*/counter-*.tar
demos/*/priv/static/assets/
demos/*/priv/static/cache_manifest.json
demos/*/npm-debug.log
demos/*/assets/node_modules/

