<.header>
  New Tag
  <:subtitle>Use this form to manage tag records in your database.</:subtitle>
</.header>

<.tag_form changeset={@changeset} action={~p"/tags"} />

<.back navigate={~p"/tags"}>Back to tags</.back>
