<.header>
  Tag <%= @tag.id %>
  <:subtitle>This is a tag record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/tags/#{@tag}/edit"}>
      <.button>Edit tag</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @tag.name %></:item>
</.list>

<.back navigate={~p"/tags"}>Back to tags</.back>
