<.header>
  Edit Post <%= @post.id %>
  <:subtitle>Use this form to manage post records in your database.</:subtitle>
</.header>

<.post_form
  changeset={@changeset}
  action={~p"/posts/#{@post}"}
  current_user={@current_user}
  tag_options={@tag_options}
/>

<.back navigate={~p"/posts"}>Back to posts</.back>
