<h1 class="text-4xl">The current count is: <%= @count %></h1>

<.link
  navigate={~p"/?count=#{@count + 1}"}
  class="bg-cyan-500 hover:bg-cyan-400 text-2xl p-4 mt-4 rounded-full inline-block"
>
  Increment
</.link>

<.form :let={f} for={%{}} action={~p"/"}>
  <.input type="number" field={f[:increment_by]} value={1} />
  <.input type="hidden" field={f[:count]} value={@count} />
  <.button class="mt-2">Increment</.button>
</.form>
